@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.4);
  }
  50% {
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.widget-uptime-robot {
  .monitor {
    text-align: left;
    font-size: 30px;
    padding: 20px 0;
    display: table;
    width: 100%;

    &:not(:first-child) {
      border-top: 1px solid rgba(white, .2);
    }

    .fa {
      font-size: 70px;
      display: table-cell;
      vertical-align: middle;
      width: 70px;
    }

    &.m-up .fa {
      color: #55d14f;
    }

    &.m-down .fa {
      -webkit-animation: pulse .5s alternate infinite;
      color: #f85e61;
    }

    ._name {
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
    }
  }
}
