@-webkit-keyframes updated {
  0% {
    box-shadow: inset 0 0 0 2px rgba(white, 0);
  }
  10% {
    box-shadow: inset 0 0 0 2px rgba(white, .2);
  }
  20% {
    box-shadow: inset 0 0 0 2px rgba(white, 0);
  }
  30% {
    box-shadow: inset 0 0 0 2px rgba(white, .2);
  }
  100% {
    box-shadow: inset 0 0 0 2px rgba(white, 0);
  }
}

.widget {
  -webkit-font-smoothing: antialiased;
  padding: 25px 12px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.widget.status-warning {
  background-color: $background-warning-color-1;
  @include animation(status-warning-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-warning-color;
  }
}

.widget.status-danger {
  color: $text-danger-color;
  background-color: $background-danger-color-1;
  @include animation(status-danger-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-danger-color;
  }
}

.widget {
  vertical-align: top;
  color: #ccc;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  background: rgba(white, .1);

  > .title {
    font-size: 16px;
    color: white;
    margin: -1em -1em 0;
    padding: .8em 1em;
    text-align: left;
    border-bottom: 2px solid black;

    ._meta {
      float: right;
      margin-left: 10px;
    }
  }

  &.s-updated {
    -webkit-animation: updated 1s alternate;
  }

  .pr-number {
    font-weight: 600;
    color: black;
    background: rgba(white, .5);
    border-radius: 2px;
    padding: 0 .5rem;

    &.m-fresh {
      background: #55d14f;
    }
    &.m-normal {
      background: #eece5a;
    }
    &.m-old {
      background: #8a7ce3;
    }
    &.m-stale {
      background: #f85e61;
    }
  }

  .build-number {
    margin-right: 2px;
    border: 1px solid rgba(white, .3);
    border-radius: 2px;
    padding: 0 .5rem;
  }
}
