// ----------------------------------------------------------------------------
// Widget-deploys styles
// ----------------------------------------------------------------------------

$success-color: #55d14f;
$unstable-color: #d1d14f;
$failed-color: #f85e61;

.widget-deploys {
  .job {
    padding: 30px 0 30px 75px;
    text-align: left;
    position: relative;
    line-height: 1;

    &:not(:first-child) {
      border-top: 1px solid rgba(white, .2);
    }

    .fa {
      position: absolute;
      left: 0;
      font-size: 60px;
      width: 60px;
      text-align: center;
    }

    &.m-success .fa {
      color: $success-color;
    }
    &.m-unstable .fa {
      color: $unstable-color;
    }
    &.m-failure .fa {
      color: $failed-color;
    }
  }

  ._main {
    color: white;
  }

  ._secondary {
    margin-top: 10px;
    color: rgba(white, .4);
  }

  .job-label {
    float: left;
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
  }

  .timestamp {
    float: right;
    font-size: 20px;
    line-height: 28px;
  }
}
