// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #454746;
$pass-colour: #55d14f;
$fail-colour: #f85e61;
$abort-colour: #666666;
$building-colour: #9999d4;

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-jenkins-history {

  li {
    text-align: left;
    padding: 8px 0;

    &:not(:first-child) {
      border-top: 1px solid rgba(white, .2);
    }

    i {
      font-size: 24px;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
    }

    i, span {
      display: inline-block;
    }

    &.building {
      i, .desc {
        color: $building-colour;
      }
    }
    &.success {
      i, .desc {
        color: $pass-colour;
      }
    }
    &.failure {
      i, .desc {
        color: $fail-colour;
      }
    }
    &.aborted {
      i, .desc {
        color: $abort-colour;
      }
    }

    .byline {
      opacity: .6;
      margin-left: 10px;
      font-size: 1rem;
    }

    .desc {
      font-size: 1.15rem;
      margin-top: 5px;
      max-height: 3.4rem;
      overflow: hidden;
    }
  }

}
