.widget-github {
  $_padding: 3.5rem;

  text-align: left;

  .pull {
    padding: .8rem $_padding;
    overflow: hidden;

    .user {
      float: right;
      width: 3rem;
      height: 3rem;
      margin-right: -$_padding;

      ._name {
        display: none;
      }

      ._avatar {
        max-width: 100%;
      }
    }

    time {
      color: rgba(white, .4);
      font-size: .8rem;
    }
  }

  .pr-number {
    float: left;
    margin-left: -$_padding;
  }
}
