.ga-stats {
  font-size: 1.2rem;

  li {
    line-height: 1;
    vertical-align: top;
    padding: 20px;
  }

  li li {
    padding: 30px 20px;
    display: inline-block;
    width: 170px;
  }

  .visitors {
    font-size: 1.3em;
  }

  .outcomes {
    border-top: 2px solid rgba(white, .2);
    padding: 0;
    margin: 10px 0;

    .number {
      font-size: 2em;
    }
  }

  .number {
    font-size: 2.4em;
    color: white;
    font-weight: 600;
    display: inline-block;
    text-shadow: 0 0 2px white;

    &:before {
      font-size: .8em;
      vertical-align: middle;
      margin-right: 10px;
      opacity: .8;
      position: relative;
      top: -5px;
      text-shadow: none;
    }

    &.fa-caret-up:before {
      color: #55d14f;
    }
    &.fa-caret-down:before {
      color: #f85e61;
    }
  }

  .label {
    color: rgba(white, .7);
    margin-top: 10px;
  }

  .complete .number {
    color: #87c502;
    text-shadow: 0 0 3px #87c502;
  }
  .ad .number {
    color: #f5f559;
    text-shadow: 0 0 3px #f5f559;
  }
  .referred .number {
    color: #ffa400;
    text-shadow: 0 0 3px #ffa400;
  }
}
