.widget-jenkins-build {
  $_inner-padding: 18px;

  text-align: left;

  .build-status {
    height: 240px;
    border: solid rgba(white, .2);
    border-width: 1px 0;
    padding: $_inner-padding 0;
  }

  circle {
    fill: transparent;
    stroke: rgba(white, .1);
    stroke-width: 60px;
  }

  .bar {
    stroke: #5adc53;
  }

  svg {
    display: block;
    margin: auto;
  }

  .pull-title,
  .build-meta {
    overflow: hidden;
    padding: $_inner-padding 0;
  }

  .pull-title {
    font-size: 1.4rem;
    height: 3.3em;
  }

  .build-meta {
    font-size: 1.3rem;
    padding-bottom: 0;
  }

  .commit-author {
    float: left;
    margin-top: 5px;
  }

  .time {
    text-align: right;
    font-size: .7em;
    float: right;

    ._label {
      opacity: .5;
    }
  }
}
