.widget-jenkins-build {
  text-align: left;

  svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    margin: auto;
  }

  #needle {
    transition: all 300ms;
    transform-origin: 50% 95%;
  }

  .pull-title,
  .build-meta {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
  }

  .pull-title {
    font-size: 1.4rem;
    max-height: 3.3em;
    overflow: hidden;
  }

  .build-meta {
    bottom: 10px;
    font-size: 1.3rem;
  }

  .commit-author {
    float: left;
  }

  .time {
    text-align: right;
    font-size: .7em;
    float: right;
    margin-top: -.5em;

    ._label {
      opacity: .5;
    }
  }
}
